#body {
  height: 100vh;
}

#header {
  height: 10vh;
  background-color: #242F3E;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#title {
  margin: 0px;
  margin-left: 20px;
  color: #FFFFFF;
}

#content {
  height: 80vh;
  background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: #242F3E;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
}

#signature {
  color: #FFFFFF;
  margin-right: 20px;
}

#dropZone {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dragger {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  flex-direction: column;
}

#dropbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#results {
  background-color: #FFFFFF;
  padding: 5px;
}

#spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
